body {
  padding-top: 5rem;
  background-color:#cecece;
}

.navbar-link {
  padding-left: 2rem;
  color:White;
  display: block;
}
.navbar-login {
   position: absolute;
   right: 2rem;
   color:White;
   display: block;
 }

.starter-template {
  padding-bottom: 1.5rem;
}

.container {
  margin-left: 10px;
}

h1{
}

h2{
	color:#000000;
}