body {
  padding-top: 5rem;
}

.navbar-link {
  padding-left: 2rem;
  color:White;
  display: block;
}

.starter-template {
  padding-bottom: 1.5rem;
}

.container {
  margin-left: 10px;
}

h1{
	color:#0000FF;
}

h2{
	color:#000000;
}