<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Budget Portfolio Manager</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Budget Manager</a>
    <a class="navbar-link" href="/transactions">Transactions</a>
    <a class="navbar-link" href="/accounts">Accounts</a>
    <a class="navbar-link" href="/bills">Bills</a>
    <a class="navbar-link" href="/categories">Categories</a>
    <a class="navbar-link" href="/profile" th:if="${user}">Profile</a>
    <a class="navbar-login" href="/logout" th:if="${user}">Logout</a>
    <a class="navbar-login" href="/login" th:unless="${user}">Login</a>
</nav>
<main role="main" class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="'/edit/account?id='+${account.getId()}" method="post">
                <fieldset>
                    <h1>Edit Account</h1>

                    <div th:if="${error}">
                        <div class="alert alert-danger">
                            <p th:text="${error}"></p>
                        </div>
                    </div>
                    <div th:if="${logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control input-lg"
                               placeholder="Name" th:value="${account.getName()}" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="number" id="balance" class="form-control input-lg"
                               step="0.01" name="amount" th:value="${account.getBalance()}" placeholder="Amount" required="true"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="bank" id="bank" class="form-control input-lg"
                               placeholder="Bank" th:value="${account.getBank()}" required="true"/>
                    </div>
                    <div class="form-group" th:unless="${id}">
                        <select name="type" id="type" class="form-control input-lg" required="true">
                            <option value="Checking">Checking</option>
                            <option value="Savings">Savings</option>
                            <option value="Credit">Credit</option>
                            <option value="Mortgage">Mortgage</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
</body>
</html>